<div class="mira-grid-development-plan-view-competence-wrap">
    <% (data.quaarray || []).forEach(function(item) { %>
        <div class="mira-grid-development-plan-view-competence-item">
            <%=item%>
        </div>
    <% }); %>
</div>