<% var countHtml = '<span class="mira-grid-development-plan-view-' + view + '-toggle-count">' + count + '</span>'; %>
<div class="mira-grid-development-plan-view-<%=view%>">
	<div class="mira-grid-development-plan-view-<%=view%>-caption">
		<%=text.l({count: count}) + countHtml%>
	</div>
</div>