<% var NS = Mira.Models.Components.Style; %>
<div class="mira-grid-development-plan-view-stage-status"
    <%= new NS({color: color, backgroundColor: bg})%>>
    <div class="mira-grid-development-plan-view-stage-status-icon"<%= new NS({backgroundImage: 'url(\'' + icon + '\')'})%>></div>
    <%=name%>
</div>